*{
    margin: 0;
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* First block/navbar */

.navbar{
    display: flex;
    width: 100%;
    height: auto;
    background-color: #2C3E50;
    justify-content: space-between;
    overflow-x: hidden;
}

.navbar-header{
    padding-top: 15px;
    padding-left: 10%;
    width: 60%;
    color: white;
    font-weight: bolder;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 40%;
}
  
.links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.links > li {
    margin-right: 20px;
    cursor: pointer;
}

/* Image Container */

.image-container{
    padding-top: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #1ABC9C;
    flex-direction: column;
    align-items: center;
}

.image-container hr{
    border-top: 1px solid white;
}

.image-container img{
    padding-bottom: 20px;
}

.image-container h1{
    font-size: 4rem;
    line-height: 3.5rem;
    color: white;
}

.image-container h4{
    color: white;
}

.image-container svg{
    color: white;
    width: 32px;
    height: 32px;
}

.image-container-text{
    padding-top: 20px;
    padding-bottom: 10vh;
}

.container{
    max-width: 1170px;
    margin: auto;
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-col{
    width: 30%;
    padding: 30px 15px 0 15px;
    text-align: center;
}

.image-col img{
    width: 100%;
    height: 100%;
}

/* FOOTER */
.footer{
    background-color: #24262b;
    padding: 70px 0;
}

.footer-end{
    width: 100%;
}

/* ABOUT BLOCK */
.about-container{
    width:100%;
    margin-top: 20vh;
    margin-bottom: 10px;
    padding: 15vh 0;
    background-color: #1ABC9C;
    color: white;
    font-size: 1.25rem;
    font-weight: 400;
}

.about-container button{
    margin-bottom: 20px;
}

/* CONTACT ME BLOCK */

.contact-col{
    width: 60%;
    padding: 30px 15px 0 15px;
    text-align: center;
}

.contact-col input{
    width: 90%;
    height: 50px;
    font-size: inherit;
}

.contact-col button{
    background-color: #6BD4BF;
    font-weight: bolder;
    color: white;
    margin-bottom: 20px;
}

.error-message{
    border-radius: 5px;
    border: 5px;
    background-color: red;
    color: white;
    font-weight: bolder;
    text-align: center;
}

/* Footer */

.footer-container{
    width: 100%;
    margin: 0;
    padding: 9vh 0;
    background-color: #2C3E50;
    color: white;
    font-size: larger;
}

.footer-col2{
    width: 25%;
    padding: 30px 0 0 0;
    text-align: center;
}

.footer-col2 h1{
    font-weight: 700;
    line-height: 1.2;
    font-size: calc(1.275rem + 0.3vw);
}

.footer-end{
    width: 100%;
    margin: 0;
    padding: 5vh 0;
    background-color: #1A252F;
    color: white;
    text-align: center;
}

/* Utilities */

.btn {
    border: 2px solid white;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.rcorners {
    border-radius: 9px;
}

.btn-blue {
    background-color: transparent;
    color: white;
}
  
.btn-blue:hover {
    background: #2196F3;
    color: white;
}

.star{
    color: #2C3E50;
    width: 32px;
    height: 32px;
}

.white{
    color: white;
}

.other-headers{
    color: #2C3E50;
    font-size: 4rem;
    font-weight: bolder;
}

.hidden{
    display: none;
}


/* Responsitivity */
  
@media screen and (max-width:900px){
    .footer-col2{
        width: 60%;
    }
    .contact-col{
        width:100%;
    }
    .image-col{
        width: 90%;
    }
}

@media screen and (max-width:800px){
    .image-col{
        width: 100%;
    }
    .footer-container{
        padding-left: 0;
        padding-right: 0;
    }
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    .footer-col2{
        width: 80%;
        margin-bottom: 30px;
    }
    .image-container h1{
        font-size: 2.75rem;
        line-height: 2.75rem;
    }
    .other-headers{
        padding-top: 10px;
        font-size: 2rem;
    }
}

