/* Simple table styling from the internet */

.styled-table {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.flexer{
    display: flex;
    flex-wrap: wrap;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr:nth-of-type(odd) {
    background-color: #29535D;
    color: white;
}
.styled-table tbody tr:nth-of-type(even) {
    background-color: #1DA78F;
    color: black;
}
.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}